<div class="container">
  <div class="columns is-centered is-vcentered" style="height: 100vh;">
    <div class="box column is-two-thirds">
      <h1 class="title has-text-centered">Typing Challenge</h1>

      <p class="has-text-centered">
        <span *ngFor="let letter of randomText.split(''); let i = index" [class]="getClassName(i)">{{ letter }}</span>
      </p>

      <div class="field">
        <input #userText class="input" placeholder="Type here" (input)="onChangeInput($event.target.value)"
          [value]="enteredText" />
      </div>

      <div class="box has-text-centered">
        <h1 class="title" *ngIf="enteredText === randomText">
          You win!
        </h1>

        <button class="button" (click)="onClickNewGame()" *ngIf="enteredText === randomText">Again?</button>
      </div>
    </div>
  </div>
</div>